*,
*:after,
*:before {
	/*box-sizing: border-box;*/
}

body {
	font: 14px Arial, sans-serif;
	color: #444;
	background: #e3e3e1;
	margin: 0;
	line-height: 24px;
}
.wrapper{
	background: #e3e3e1;
}
.first-block{
	margin: 160px 0 0 120px;
	padding: 0;
	width: 800px;
	max-width: 940px;
	background: #ffffff;
	padding: 50px 180px 0 30px;
	overflow: hidden;
}

.header {

	padding: 0;
	display: flex;
	justify-content: space-between;
	

}
.header div{
	margin: 0;
	font-size: 14px;
	color: #a7a9ad;
}
.header time{
	margin: 0;
	font-size: 14px;
	color: #a7a9ad;
}

.first-block h1{
	padding: 20px 0 0 0;
	margin: 0;
	font-size: 18px;
}
.image{
	margin: 0;
	padding: 25px 0 0 0;
	float: left;
}
.image img{
	border: 5px solid #f0f0f0;
}
.picture{
	box-sizing: content-box;
}
.first-block .up-text{
	margin: 0;
	padding: 10px 0 25px 10px;
	font-weight: 500;
	font-size: 17px;
}
.first-block .down-text{
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 14px;
	color: #636060;
}
.last{
	;
}
.last p{
	padding: 0 0 0 5px;
	font-size: 12px;
}
