@font-face{
	   font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: bold;
    font-style: normal;


}
*:after,
*:before{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #6d5384;
	font: 13px/2.3 'Roboto', sans-serif;
}
img{
	border: 0;

}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
	
}
.visual{
	
	background: url(../images/headbg.png);
	height: 830px;
	
	}
.header{
	padding:  20px 0;
	position: relative;
}
.header:after {
	content: '';
	display: block;
	
}

.logo{
	float: left;
}
.btn-nav{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: rgba(255, 255,255, 0.4);
	border-radius: 5px;
}
.btn-nav span,
.btn-nav:after,
.btn-nav:before{
	content: '';
	position: absolute;
	left: 5px;
	right: 5px;
	height: 4px;
	background: #fff;
	top: 50%;
	margin-top: -2px;
	border-radius: 2px;
	transition: all 0.3s;
}
.btn-nav:after{
	margin: 7px 0 0;
	

}
.btn-nav:before{
	margin-top: -11px;
	
}
.btn-nav:hover span{
		opacity: 0;
}
.btn-nav:hover:after{
	transform: rotate(-45deg);
	margin: 0;
}
.btn-nav:hover:before{
	transform: rotate(45deg);
	margin: 0;
}
.nav{
	float:right;
}
.nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav > ul > li {
	float: left;
	margin: 0 0 0 10px;
	position: relative;
	  }
.nav li a{
	color: #fff;
	display: block;
	width: 140px;
	line-height: 35px;
	border: 1px solid #9884aa;
	padding: 10px 0;
	font-size:  18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	position: relative;
	transition: all 1s ease;
}
.nav li a:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #f7df59 transparent transparent transparent;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all 1s ease 1s;
}
.nav li a:hover {
		background: #f7df59;
		border-color: #f7df59;
		box-shadow: 0 1px 3px #4c2f65;

}
.nav li a:hover:after {
	opacity: 1;
}
.nav li ul{
	position: absolute;
	left: 0;
	top: 100%;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0.0; 
	transition: all 0.3s ease;
}
.nav li:hover ul{
	opacity: 1;
	transform: scaleY(1);
}
.promo-block{
		color:#fff;
		text-align: center;
		font-size: 28px;
		line-height: 34px;
}
span{
	color: #ead7fb;
}

.main{
	padding: 0 0 0 0;
	background:  url(../images/background.png);
	overflow: hidden;
}
.contain h1{
	margin: 0 0 0 13px;
	padding: 80px 0 0 0;
	
	text-align: center;
    font-weight: lighter;
    font-size: 45px;
    text-transform: uppercase;
    
}
.contain h2{
	margin: 0 0 0 0;
	padding: 0 0 40px 0;
	color: #ffffff;
	font-size: 25px;
	display: flex;
    align-items: center;
    justify-content: center;
    
}
p {
	display: inline;
	 margin: 0
}
.columns{
	padding: 0 20px 0 0;
	margin: 0 0 50px;


	
}
.columns p{
	
	text-align: center;
}
.columns:after{
	content: '';
	display: block;	
	clear: both;
}

.column{
	
	width: 29.8%;
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 0%, #f6f6f6 0%);
	border-radius: 8px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	position: relative;
	float:left;
	margin: 0 5.2% 0 60px;
}
.column img{
	display: block;
	width: 100%;
	/*max-width: 100%;*/
	height: auto;
}
.column:first-child{
	margin: 0;

}

.column:before{
	content: '';
	position: absolute;
	top:100%;
	left: 0;
	right: 0;
	height: 10px;
	z-index: 2;
}




.footer{
	overflow: hidden;
	padding: 30px 0;
	border-top: 2px solid #6d5384;
	max-width: 900px;
	margin: 0 auto;
}

.left, 
.right {

	float: left;
	width: 50%;
	
	
	  }
.right {

	text-align: right;
}
.footer a{
	text-decoration: none;
}
@media all and (max-width: 960px){
	.header{
		text-align: center;
	}
	.logo{
		float: none;
	}
	.nav {
		float: none;
		display: inline-block;
	}
	.main{
		padding: 20px 0;
	}
}

@media all and (max-width: 767px){
	.column{
		float:none;
		width: 100%;
		margin: 0 0 20px;
	}
	.header {
		text-align: left; 
		padding: 10px;
	}
	.footer {
		text-align: center;
	}
	.footer .left{
		float: none;
	}
	.footer p{
		 text-align: center;
	}
	.nav{
		display: block;
	}
	.nav ul li{
		float: none;
		text-align: left;
		border-bottom:  1px solid #fff;
	}
	.nav ul li li{
			border: 0;
			
	}
	.nav li a{
		width: 100%;
		border:0;
		text-align: left;
		border-radius: 0;
		padding: 5px 15px;
	}
	.nav li a:after{
		display: none;
	}
	.nav li ul{
		position: static;
		transform: none;
		opacity: 1;
	}
	.nav li ul a{
		font-size: 14px;
		text-transform: none;
		padding: 5px 0 5px 30px;
	}
}

